.bat
.Rproj

*_files/
*.html

# Виртуальные окружения
.venv/
venv/
ENV/
env/

# Пакеты и сборка
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# R
# =========================
.Rhistory
.Rapp.history
.RData
.Ruserdata

# Папка RStudio
.Rproj.user/

# Сборка пакета R
.Rproj
.Rproj.user
.Rcheck/

# R Markdown
*_cache/
cache/
*.utf8.md
*.knit.md

# =========================
# IDE
# =========================

# RStudio
.Rproj.user/

# =========================
# Логи
# =========================
*.log
logs/

# Temporary files
*.tmp
*.temp
*.log
